<h2 class="sub-header">서비스 별 모니터링</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>시스템</th>
            <th>서비스</th>
            <th>API</th>
            <th>관리자</th>
        </tr>
        </thead>
        <tbody>
        {#grid.contentList}
        <tr>
            <td>{$idx}</td>
            <td>{system}</td>
            <td>{service}</td>
            <td>{api}</td>
            <td>{admin}</td>
        </tr>
        {/grid.contentList}
        </tbody>
    </table>
</div>